*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.circal{
    background: linear-gradient(to bottom, rgba(249, 245, 245, 0.791), transparent);
}